


/*index.html*/
body {
  text-decoration: none;  
}

/*header*/
header {
    height: 72px;
    max-width: 1440px;
    background-color:#ffffff ;
}
/*logo*/
.heager__logo {
    padding: 24px 0px 24px 100px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
}

.heager__logo :hover,
.heager__logo :focus {
    color: #31D0AA;
}

.logo {
    color: #4d5ae5;
    text-decoration: none;
}

.logo span  {
    color: #2e2f42;
}
/*nav*/
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

li {
    display: inline;
}

.menu__list {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin:-45px  0px  0px 356px;
    word-spacing: 40px;
    color: #2e2f42;
}

.menu__link {
    text-decoration: none;
}

.menu__list :hover,
.menu__list :focus {
color: #31D0AA;
}

/*auto*/
.auto__list  {
    list-style-type: none;
    margin: -20px 0px 0px 925px ;
    padding: 0;
    overflow: hidden;
    word-spacing: 40px;
}

.auto__mailto {
    word-spacing: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40 px;
    color: #434455;
    text-decoration: none;
}

.auto__tel {
    width: 151px;
    height: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none; 
}

.auto__list :hover,
.auto__list :focus {
    color: #31D0AA;
}

/*Hero*/
.hero {
    max-width: 1440px;
    height: 603px;
    left: 0;
    top: 72px;
    background-color: #2e2f42;
}

.hero__title {
    width: 492px;
    height: 120px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    position: relative;
    text-align: center;
    top: 200px;
    left: 410px;
    color: #ffffff;
}

.button {
    background-color: #4d5ae5;
    padding: 16px 32px;
    left: 590px;
    position: relative;
    gap: 10px;
    top:250px ;
}

.button span {
    font-family: 'Roboto';
    width: 400;
    font-size: 16px;
    color: #ffffff;
}

span .button:hover,
span .button:focus {
    color:#31D0AA; ;
}

/*main*/
.section__one {
   background-color:#e5e5e5 ;
   overflow: hidden;
   display: flex;
}

h2 {
   color: #e5e5e5;
   display: flex;
}

.section__list {
    margin: 46px 100px 156px;
    display: flex;
    gap: 50px;
    left: 126px;
}

.section__title {
    width: 264px;
    height: 24px;
    font-family:'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    color: #2e2f42;
}

.section__text {
    font-family:'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
    height: 72px;
    
    color: #434455;
}
 /*section 2*/  
 .section__group {
    font-family:'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin: 80px 0 40px 500px ;
    color: #434455;
} 

.section__two {
    text-align: center;
}

/*section3*/
.section__three {
    max-width: 1440px;
    height: 732px;
    top: 1551px;

    background-color: #f4f4fd;
}

.section__gallery {
    font-family:'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    padding: 100px 550px;
    color: #434455;
}

.section__ryav {
    text-align: center;
}

/*footer*/
.footer {
    max-width: 1440px;
    height: 310px;

    background-color: #2e2f42;
}

.footer__logo {
    padding: 100px 188px 156px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
}

.footer__logo :hover,
.footer__logo :focus {
    color: #31D0AA;
}

.footer__web{
    color: #4d5ae5;
    text-decoration: none;
}

.footer__studio {
    color:#f4f4fd ;
}

.footer__text {
    font-family:'Roboto';
    width: 400;
    font-size: 16px;
    line-height: 1.5;
    margin:-116px 180px ;
    color:#e7e9fc;
}
    






    
	
    



    


    

